.task{
    width: 300px;
    background-color: #eacda3;
    margin: 10px;
    height: 325px;
    border-radius: 10px;
    box-shadow: 2px 7px 15px #000;
}

.title_cont{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    border-bottom: solid 0.5px black;
}

.task_title{
    background-color: transparent;
    border: none;
    font-size: 25px;
    width: 85%;
    margin-top: 4px;
}
.description_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 235px;
    width: 100%;
}

.task_description{
    width: 280px;
    height: 200px;
    font-size: 15px;
    resize:none;
    background-color: transparent;
    border: none;
}


.botonEditar{
    background-color: #1766dc;
    border: none;
    width: 50px;
    height: 30px;
    border-radius: 9px;
    color: white;
    margin-left: 80%;
    cursor: pointer;
}